<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <style>
    .clock_design{ color: #FFFFFF; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 30px; }
    .clock_design_2{ color: #FFFFFF; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 15px; }

    .container {
        min-width: 375px;
        background-image: url('./assat/background.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height: 100%;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .container1 {
        min-width: 375px;
        background-image: url('./assat/background.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height: 100%;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .minContainer {
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
    }
    @media screen and (max-width: 600px) {
        .minContainer {
            padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        }
    }
    .title {
        margin-bottom: 50px;
        color: white;

        text-shadow: 0 0 10px  gray;
    }
    .board1 {
        min-width: 300px;
        min-height: 300px;
        width: 35vw;
        height: 35vw;
        margin: 1%;
        background-color: #ffffff;
        opacity: 0.5;
        padding: 1%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .board2 {
        min-height: 300px;
        min-width: 300px;
        width: 35vw;
        height: 35vw;
        margin: 1%;
        padding: 1%;
        background-color: #ffffff;
        opacity: 0.5;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .icon {
        box-shadow: 1px 1px 1px 1px yellow;
        width: 100px;
        height: 100px;
        margin: 20px;
        background-image: url('./assat/sun.png');
        background-position: center;
        background-size: cover;
    }
    .m1fullbox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .m1box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .m2box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .icon2 {
        width: 40px;
        height: 40px;
        background-image: url('./assat/suncloud.png');
        background-position: center;
        background-size: cover;
    }
    .logoBox{
        width: 100px;
        height: 40px;
        background-image: url("./img/openweather.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .logoBox2{
        width: 100px;
        height: 40px;
        background-image: url("./assat/k_weather.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

        
        hr{
            width: 70%;

        }
    </style>
</head>
<body>
        <div class="container">
            <h1 class="title"><%=city%></h1>
            <div style="text-align: center; padding-bottom:20px;">
                <span id="clock" class="clock_design">clock</span>
                <span id="apm" class="clock_design_2">ampm</span>
            </div>
            <div class="minContainer">
                <div class="board1">
                    <div class="m1box">
                        <div class="icon"></div>
                        <div><h1>30℃</h1></div>
                    </div>
                    <hr>
                    <div class="m1fullbox">
                        <div class="m1box">
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=koArr[1].fcstTime%></h2>
                                <div class="icon2"></div>
                                <h3><%=koArr[13].fcstValue%>°C</h3>
                            </div>
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=koArr[2].fcstTime%></h2>
                                <div class="icon2"></div>
                                <h3><%=koArr[14].fcstValue%>°C</h3>
                            </div>
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=koArr[3].fcstTime%></h2>
                                <div class="icon2"></div>
                                <h3><%=koArr[15].fcstValue%>°C</h3>
                            </div>
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=koArr[4].fcstTime%></h2>
                                <div class="icon2"></div>
                                <h3><%=koArr[16].fcstValue%>°C</h3>
                            </div>
                        </div>
                    </div>
                    <div class="logoBox"></div>
                </div>
                <div class="board1">
                    <div class="m1box">
                        <div class="icon"></div>
                        <div><h1>30℃</h1></div>
                    </div>
                    <hr>
                    <div class="m1fullbox">
                        <div class="m1box">
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=usArr[2].dt_txt%></h2>
                                <div class="icon2"></div>
                                <h3><%=usArr[2].main.temp%>°C</h3>
                            </div>
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=usArr[3].dt_txt%></h2>
                                <div class="icon2"></div>
                                <h3><%=usArr[3].main.temp%>°C</h3>
                            </div>
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=usArr[4].dt_txt%></h2>
                                <div class="icon2"></div>
                                <h3><%=usArr[4].main.temp%>°C</h3>
                            </div>
                            <div class="m2box">
                                <h2 style="margin: 5px;"><%=usArr[5].dt_txt%></h2>
                                <div class="icon2"></div>
                                <h3><%=usArr[5].main.temp%>°C</h3>
                            </div>
                        </div>
                    </div>
                    <div class="logoBox2"></div>
                </div>
            </div>
        </div>
</body>
<script src="main.js"></script>
</html>
