<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="mainpc.css"> <!--mainpc.css-->
    <link rel="shortcut icon" type="image/x-icon" href="img\favicon.png"> <!--파비콘-->
    <title>weathermoa</title>

</head>
<style>
    body{
        background-image: url('img/background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    <div class="padding"></div>
    <div class="container" style="padding-top:40px; ">
        <div class="item busan_title">부산광역시</div>
        <div class="item " style=" align-self: center;">
            <svg width="43" height="30" viewBox="0 -10 40 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_8_39)">
                <path d="M4.16938 13.5407C4.16838 13.8361 4.25718 14.1248 4.42401 14.3686C4.59083 14.6123 4.8278 14.7996 5.1035 14.9056L19.1625 20.3203L24.9389 34.2362C25.0505 34.5053 25.2402 34.7349 25.4836 34.8951C25.727 35.0553 26.0128 35.1389 26.3041 35.135L26.3274 35.1347C26.6224 35.1262 26.9079 35.0284 27.1461 34.8541C27.3842 34.6798 27.5638 34.4374 27.6611 34.1587L38.9012 1.95855C38.9933 1.69658 39.0085 1.41378 38.9452 1.14343C38.8819 0.873088 38.7427 0.626465 38.5439 0.432607C38.3451 0.238749 38.0951 0.10573 37.8232 0.0492157C37.5514 -0.00729869 37.269 0.0150454 37.0095 0.113616L5.11055 12.1823C4.83444 12.287 4.59662 12.4731 4.42857 12.7159C4.26051 12.9588 4.17014 13.2469 4.1694 13.5422L4.16938 13.5407Z" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_d_8_39" x="0.169373" y="0.0187378" width="42.8142" height="43.1164" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8_39"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8_39" result="shape"/>
                </filter>
                </defs>
            </svg>
        </div>
    </div>
    <div style="text-align: center; padding-bottom:20px;">
        <span id="clock" class="clock_design">clock</span>
        <span id="apm" class="clock_design_2">ampm</span>
    </div>
    <div class="padding"></div>
<!--     <div>
        <span id="date_2" class="clock_design"></span>
    </div> -->
    <div class="box">
        <div class="container2">
            <!--1번 박스-->
            <div class="item lacta"></div>
            <div class="weather_icon"><b><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;날씨아이콘</b></div>
            <div class="now_tem"><%=koArr[12].fcstValue%></div>
            <div class="now_tem2">°C</div>
            <div class="line" style="width:600px; height:2px; background-color:#8E8E8E;"></div>

            <div class="gg" style="padding-top:10px;">
                <div class="grid_item"><%=koArr[1].fcstTime%></div>
                <div class="grid_item"><%=koArr[2].fcstTime%></div>
                <div class="grid_item"><%=koArr[3].fcstTime%></div>
                <div class="grid_item"><%=koArr[4].fcstTime%></div>
                <div class="grid_item"><%=koArr[5].fcstTime%></div>
            </div>
            <div class="gg2"  style="padding-top:10px;">
                <div class="grid_item1" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item1" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item1" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item1" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item1" style="background-color:black; color:white;">날<br>씨</div>
            </div>
            <div class="gg3">
                <div class="grid_item2"><%=koArr[13].fcstValue%></div>
                <div class="grid_item2">°C</div>
                <div class="grid_item2"><%=koArr[14].fcstValue%></div>
                <div class="grid_item2">°C</div>
                <div class="grid_item2"><%=koArr[15].fcstValue%></div>
                <div class="grid_item2">°C</div>
                <div class="grid_item2"><%=koArr[16].fcstValue%></div>
                <div class="grid_item2">°C</div>
                <div class="grid_item2"><%=koArr[17].fcstValue%></div>
                <div class="grid_item2">°C</div>
            </div>
            <div>
                <img class="logoimg" src="img/openweather.png">
            </div>


            <div class="item lacta"></div>
            <div class="weather_icon2"><b><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;날씨아이콘</b></div>
            <div class="now_tem_2"><%=usArr[2].main.temp%></div>
            <div class="now_tem2-2">°C</div>
            <div class="line2" style="width:600px; height:2px; background-color:#8E8E8E;"></div>

            <div class="gg4" style="padding-top:10px;">
                <div class="grid_item3"><%=usArr[2].dt_txt%></div>
                <div class="grid_item3"><%=usArr[3].dt_txt%></div>
                <div class="grid_item3"><%=usArr[4].dt_txt%></div>
                <div class="grid_item3"><%=usArr[5].dt_txt%></div>
            </div>
            <div class="gg5" style="padding-top:10px;">
                <div class="grid_item4" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item4" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item4" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item4" style="background-color:black; color:white;">날<br>씨</div>
                <div class="grid_item4" style="background-color:black; color:white;">날<br>씨</div>
            </div>
            <div class="gg6">
                <div class="grid_item5"><%=usArr[2].main.temp%></div>
                <div class="grid_item5">°C</div>
                <div class="grid_item5"><%=usArr[3].main.temp%></div>
                <div class="grid_item5">°C</div>
                <div class="grid_item5"><%=usArr[4].main.temp%></div>
                <div class="grid_item5">°C</div>
                <div class="grid_item5"><%=usArr[5].main.temp%></div>
                <div class="grid_item5">°C</div>
                <div class="grid_item5"><%=usArr[5].main.temp%></div>
                <div class="grid_item5">°C</div>
            </div>
            <div>
                <img class="logoimg2" src="img/weather.png">
            </div>
        </div>
    </div>



    <div class="logo" style="padding-top:20px; text-align:center;">
        <a href="#"><img style="width: 80px; height:50px; opacity: 0.5;" src="img/triple one.png"></a>
    </div>

</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="main.js"></script>
</html>
